%p#navigation_link
  = link_to "How?", pages_features_path
%p
  %ul
    %li
      Sell products from an exotic location without being there
    %li
      Keep your online business running while you're on holiday
    %li
      Save time by sending and receiving information on the go
    %li
      = link_to "Learn more...", pages_features_path
%h2#coming_soon Coming Soon
%p
  Register your interest now and get special behind the scenes access and free message credits when we launch beta.
%p#notice
  = notice
= simple_form_for @user do |f|
  = f.input :email
  = f.button :submit, "Register"

