= image_tag("todo_list.png", :class => "todo_list")
%div.left_side
  %p.logo
    = image_tag("meh_logo.png", :class => "logo")
  %p.slogan
    %strong
      Meh saves you time by helping you after you've made a sale.
  %p.external_services
    %a{:class => "DiggThisButton DiggCompact"}
    %a{:href => "http://twitter.com/share", :class => "twitter-share-button", :'data-count' => "horizontal"}
      Tweet
    %iframe{:src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmeh-promo.com&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=80", :scrolling => "no",
            :class => "facebook-like-button",
            :frameborder => "0",
            :style => "border:none; overflow:scroll; width:120px; height:21px;",
            :allowTransparency => "true"}
  %h2 Coming Soon
  %p
    Register your interest now and get special behind the scenes access and free message credits when we launch beta.
  %p.notice
    = notice
  = simple_form_for @user do |f|
    = f.input :email
    = f.button :submit, "Register"

