%p.navigation_link
  = link_to "How?", pages_features_path
%p.external_services
  %a{:class => "DiggThisButton DiggCompact"}
  %a{:href => "http://twitter.com/share", :class => "twitter-share-button", :'data-count' => "horizontal", :'data-url' => "http://meh-promo.heroku.com"}
    Tweet
  %iframe{:src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmeh-promo.heroku.com&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=80",
          :class => "facebook-like-button"}
%h2 Coming Soon
%p
  Register your interest now and get special behind the scenes access and free message credits when we launch beta.
%p.notice
  = notice
= simple_form_for @user do |f|
  = f.input :email
  = f.button :submit, "Register"

